:root {
    --line-color: #dddddd;
    --black-color: #333333;
    --white-color: #ffffff;
}

.default {
    padding: 120px 0 100px 0;
}

.default .tit {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 0 16px;

}


.default .tit h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.default .tit p {
    margin: 18px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}


#wrap {}


#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 300px;
    height: 100vh;
}

#header .header_wrap {
    display: flex;
    height: 100%;
    border-right: 1px solid var(--line-color);
}

#header .header_wrap .left {
    flex: 0 0 56px;
    background: var(--black-color);
}

#header .header_wrap .right {
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    background: url(../images/bar_01.png)no-repeat left top/100% 6px;
    padding: 40px 24px 0 24px;

}

#header .header_wrap .right h1 {
    margin: 0 0 32px 0;
}

#header .gnb .depth1 li {
    position: relative;
}

#header .gnb .depth1>li>a {
    display: block;
    border-bottom: 1px solid var(--line-color);
    line-height: 40px;
}


#header .gnb .depth1>li .depth2 {
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--white-color);
    border: 1px solid var(--line-color);

    display: none;
    width: 200px;
}

#header .gnb .depth1>li .depth2::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -6px;
    width: 20px;
    height: 20px;
    background: var(--white-color);

    border: 1px solid var(--line-color);
    transform: rotate(45deg);
}

#header .gnb .depth1>li .depth2>li {
    position: relative;
    padding: 0 16px;
    background: var(--white-color);
}

#header .gnb .depth1>li .depth2>li a {
    display: block;
    line-height: 40px;
    padding: 0 24px;
}

#header .gnb .depth1>li .depth2>li:not(:last-child) a {
    border-bottom: 1px solid var(--line-color);
}


#header .gnb .depth1>li:hover .depth2 {
    display: block;
}

#header .util_area {
    margin: auto 0;
}

#header .util_area strong {
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--line-color);
    margin: 0 0 24px 0;
}

#header .util_area .call {
    position: relative;
    display: block;
    font-size: 32px;
    font-weight: 600;
}

#header .util_area .call::before {
    content: "\f72f";
    font-family: "material symbols outlined";
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    width: 24px;
    height: 24px;
    background: url(../images/line_iconset_b02.png)-800px -200px;

    font-size: 24px;
    font-weight: 300;
}

/* -------------------------main_visual--------------------------------- */

#content {
    margin: 0 0 0 300px;
}

.main_visual {
    position: relative;
}


.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main_visual .main_visual_slide .itm01 {
    background-image: url(../images/main_slider_n01.jpg);
}

.main_visual .main_visual_slide .itm02 {
    background-image: url(../images/main_slider_n02.jpg);
}

.main_visual .main_visual_slide .itm03 {
    background-image: url(../images/main_slider_n03.jpg);
}

.main_visual .main_visual_slide .itm .con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 16px;
    white-space: nowrap;
}

.main_visual .main_visual_slide .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: url(../images/pattern5.png);
    opacity: 0.4;
}

.main_visual .main_visual_slide .itm .con strong {
    display: block;
    margin: 0 0 24px 0;

    color: var(--white-color);
    font-size: 48px;
    font-weight: 800;
    text-align: center;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .main_visual_slide .itm.on .con strong {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .main_visual_slide .itm .con p {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .main_visual_slide .itm.on .con p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .main_visual_slide_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1440px;
    width: 100%;
}

.main_visual .main_visual_slide_arrows button {
    position: absolute;
    background: transparent;
    border: none;
}

.main_visual .main_visual_slide_arrows button .icon {
    font-size: 100px;
    font-weight: 100;
    color: var(--white-color);
    opacity: 0.2;
    transition: 0.5s;
}

.main_visual .main_visual_slide_arrows button:hover .icon {
    opacity: 1;
}

.main_visual .main_visual_slide_arrows .left {
    top: 0;
    left: 0;
}

.main_visual .main_visual_slide_arrows .right {
    top: 0;
    right: 0;
}

.main_visual .wheel {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    width: 36px;
    height: 64px;
    border: 2px solid var(--white-color);
    border-radius: 16px;
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 4px;
    height: 8px;
    border-radius: 50%;
    background: var(--white-color);
    animation: wheel 0.8s infinite;
}

@keyframes wheel {
    0% {
        top: 10px;
    }

    100% {
        top: 18px;
    }
}

.main_menu .main_menu_slide figure {
    margin: 0 8px;
    border-radius: 16px;
    overflow: hidden;
}

#footer {
    margin: 0 0 0 300px;
}